li{color:red;}

#first{
background-color:yellow;
border-style:solid;
border-color:blue;
border-width:10px;
}

#second{
background-color:cyan;
}

.third{
background-color:orange;
border-style:dotted;
border-color:blue;
}

#java{color:white;}

#ide{color:rose;}