h3 {
  text-align: center;
  font-family: 'Pacifico', cursive;
}

.table{
margin:auto;
}

td{
height:300px;
width:100px;
padding:100px:
border:10px;
border-style:solid;
border-color:white;
}

#one{
background-color:blue;
}

#two{
background-color:aqua;
}

#three{
background-color:green;
}

#four{
background-color:yellow;
}

#five{
background-color:orange;
}





